# Coding and Programming

## Capítulo 4

### Estructuras de Datos

- **Unidad 17.** Pila
- **Unidad 18.** Cola
- **Unidad 19.** Búsqueda Binaria
- **Unidad 20.** Tabla Hash

# Quiz 4

___

## Q 22-01

La siguiente es la implantación de una pila. ¿Cuál será el resultado del siguiente código?

```
stack = Stack()
stack.push("Banana")
stack.push("Apple")
stack.push("Tomato")
stack.pop()
stack.push("Strawberry")
stack.push("Grapes")
stack.pop()
print(stack.stack)
```

**Respuesta:**



El resultado es: ['Banana', 'Apple', 'Strawberry']

In [2]:
## Q 22-01
class Stack():
  def __init__ (self):
    self.stack = []

  def push(self,word):
    self.stack.append(word)

  def pop(self):
    self.stack.pop()

  def stack (self):
    return self.stack



stack = Stack()
stack.push("Banana")
stack.push("Apple")
stack.push("Tomato")
stack.pop()
stack.push("Strawberry")
stack.push("Grapes")
stack.pop()
print(stack.stack)

['Banana', 'Apple', 'Strawberry']

___

## Q 22-02

La siguiente es la implantación de una pila. ¿Cuál será el resultado del siguiente código?

```
stack = Stack()
items = [10 * i for i in range(1,10)]
for item in items:
    stack.push(item)
    if (item // 10) % 2 == 0:
        stack.pop()
print(stack.stack)
```

**Respuesta:**

In [3]:
stack = Stack()
items = [10 * i for i in range(1,10)]
for item in items:
    stack.push(item)
    if (item // 10) % 2 == 0:
        stack.pop()
print(stack.stack)

[10, 30, 50, 70, 90]

[10, 30, 50, 70, 90]

___

## Q 23-01

La siguiente es la implantación de una pila. ¿Cuál será el resultado del siguiente código?

```
queue = Queue()
queue.enqueue("Banana")
queue.enqueue("Apple")
queue.enqueue("Tomato")
queue.dequeue()
queue.enqueue("Strawberry")
queue.enqueue("Grapes")
queue.dequeue()
print(queue.queue)
```

**Respuesta:**

['Grapes', 'Strawberry', 'Tomato']

In [4]:
## Q 22-01
class Queue():
  def __init__ (self):
    self.queue = []

  def enqueue(self,word):
    temp = self.queue[::-1]
    temp.append(word)
    self.queue = temp[::-1]

  def dequeue (self):
    self.queue.pop()


  def queue (self):
    return self.queue

In [5]:

queue = Queue()
queue.enqueue("Banana")
queue.enqueue("Apple")
queue.enqueue("Tomato")
queue.dequeue()
queue.enqueue("Strawberry")
queue.enqueue("Grapes")
queue.dequeue()
print(queue.queue)

['Grapes', 'Strawberry', 'Tomato']

___

## Q 23-02

La siguiente es la implantación de una cola. ¿Cuál será el resultado del siguiente código?

```
queue = Queue()
items = [10 * i for i in range(1,10)]
for item in items:
    queue.enqueue(item)
    if (item // 10) % 2 == 0:
        queue.dequeue()
print(queue.queue)
```

**Respuesta:**

[90, 80, 70, 60, 50]

In [6]:
queue = Queue()
items = [10 * i for i in range(1,10)]
for item in items:
    queue.enqueue(item)
    if (item // 10) % 2 == 0:
        queue.dequeue()
print(queue.queue)

[90, 80, 70, 60, 50]

___

## Q 24-01

¿Cuál es el algoritmo de la siguiente función `find_two()`?
```
def find_two():
    x = y = 0
    for i in range(1, len(nums)):
        if nums[x] < nums[i]:
            x = i
        elif nums[y] > nums[i]:
            y = i
    return x,y

nums = [11, 37, 45, 26, 59, 28, 17, 53]
i,j = find_two(nums)
print(nums[i], nums[j])
```
Analice el código y escriba el resultado de la ejecución.

In [7]:
def find_two(nums):
    x = y = 0
    count = 0
    for i in range(1, len(nums)):
        if nums[x] < nums[i]:
            x = i
            count+=1
            print('se compara: ',count)

        elif nums[y] > nums[i]:
            y = i
            count+=1
            print('se compara: ',count)
        else:
          print('No se compara ')
    return x,y, count

nums = [11, 37, 45, 26, 59, 28, 17, 53]
i,j, count = find_two(nums)
print(nums[i], nums[j], 'cuenta: ',count)

se compara:  1
se compara:  2
No se compara
se compara:  3
No se compara
No se compara
No se compara
59 11 cuenta:  3

El codigo obtiene el mayor y el menor numero de una lista de numeros, resultado: 59 11

___

## Q 24-02

¿Cuántas comparaciones debe realizar la función `find_two()` implementada en la pregunta anterior (24-01)?

La funcion realiza 3 comparaciones

___

## Q 25-01

El siguiente es el código para el juego de combinación de números.

Si el máximo es 100 y el número es 51, ¿cuál es la salida de `count`?
```
from random import randint

maximo = int(input("Ingrese el número maximo: "))
numero = int(input("Ingrese tu intento de adivinar el numero: "))
low, high = 1, maximo
count = 0
while low < high:
    count += 1
    mid = (low + high) // 2
    if mid == numero:
        print(f"El número es {numero}")
        break
    elif mid > numero:
        high = mid - 1
    else:
        low  = mid + 1

print(f"Total {count} veces fue buscado.")
```

La salida de count es 6, le toma 6 intentos.

___

## Q 25-02

En el código del juego de combinación de números, si el máximo es 100 y el número es 25, ¿cuál es el resultado del conteo?

Le toma 2 intentos llegar a la respuesta, el resultado del conteo es 2.

___

## Q 26-01

Usando la función hash de la clase HashTable, calcule la clave y la clave hash de "Alicia en el país de las maravillas" de la siguiente manera. (El valor clave es 1763.)
```
table = HashTable(8)
book  = "Alice in Wonderland"
key = sum(map(ord, book))
print(key, table.hash(key))
```

In [30]:
class HashTable:
    def __init__(self, size=10):
        self.size = size
        self.keys = []
        self.table = [None] * size

    def hash(self, key):
        return key % self.size

    def put(self, key, value):
        hash_key = self.hash(key)
        if self.table[hash_key] is None:
            self.table[hash_key] = value
            self.keys.append(hash_key)  # Guardar la clave hash para iteración
        else:
            # En caso de colisión, se podría manejar de otra manera, pero para este ejemplo, simplemente reemplazamos el valor.
            # Para un manejo adecuado de colisiones, se podría utilizar una lista de tuplas (clave, valor) aquí.
            self.table[hash_key] = value  

    def key(self):
        return self.keys

In [31]:
table = HashTable(8)
book  = "Alice in Wonderland"
key = sum(map(ord, book))

print(f"Clave: {key}, Clave hash: {table.hash(key)}")

Clave: 1795, Clave hash: 3

___

## Q 26-02

Si la nueva estantería tiene 10 compartimentos, usa el siguiente código para averiguar qué libro hay en cada compartimento.
```
table = HashTable(10)
books = [
    "The Little Prince",
    "The Old Man and the Sea",
    "The Little Memaid",
    "Beauty and the Beast",
    "The Last Leaf",
    "Alice in Wonderland",
]

for book in books:
    key = sum(map(ord, book))
    table.put(key, book)

for key in table.table.key():
    print(key, table.table[key])
```

In [33]:
table = HashTable(10)
books = [
    "The Little Prince",
    "The Old Man and the Sea",
    "The Little Memaid",
    "Beauty and the Beast",
    "The Last Leaf",
    "Alice in Wonderland",
]

for book in books:
    key = sum(map(ord, book))
    table.put(key, book)

for key in table.key():
    print(key, table.table[key])

4 The Little Memaid
9 The Old Man and the Sea
7 Beauty and the Beast
3 The Last Leaf
5 Alice in Wonderland

___

# Fin